<div id="key">
  <h5>Key:</h5>
  <!--div><div class="bar proposed"></div> = Your Proposed</div-->
  <div><div class="bar complete"></div> = Active</div>
  <div><div class="bar pending"></div> = Pending</div>
  <div><div class="bar"></div> = Available</div>
</div>
