<div id="key">
  <h5>Agreement Key</h5>
  <!--div><div class="bar proposed"></div> = Your Proposed</div-->
  <div><div class="bar complete"></div> = Your Active</div>
  <div><div class="bar pending"></div> = Your Pending</div>
  <div><div class="bar"></div> = Available</div>
</div>
