<div id="stack2" class="modal hide fade" tabindex="-2">
  <div class='modal-header'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="stack2-title">Counter Proposal</h3>
  </div>
  <div class='modal-body'>
    <div class="modal-body-content"><%= render partial: "counter_agreements/form" %></div>
  </div>
  <div class='modal-footer'>
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>
