<div class="row">
  <div class="span3">
    <div id="management-nav" class="btn-group btn-group-vertical">
      <%= link_to "Inventory", "#", class: "btn btn-large" %>
      <%= link_to "Accounting", "#", class: "btn btn-large" %>
      <%= link_to "Invoices", "#", class: "btn btn-large" %>
      <%= link_to "Profile", "#", class: "btn btn-large" %>
    </div>
  </div>
  <div class="span9">

  </div>
</div>
