Thank you! Your order has been approved. 
%br
= "Your order number is #{@order.transaction.authorization_code}"
%br
%br
Want to publicize your purchases?  Browse and print the following PDFs profiling the farms and goods you just purchased!