<tr class="sorters">
  <th style="width: 160px;"><%= sortable "farm", "Farm", parsed_params %></th>
  <th><%= sortable "product", "Product", parsed_params %></th>

  <th><%= sortable "quantity", "Qty Avail", parsed_params %></th>
  <th><%= sortable "price", "Price Points", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
