<tr class="input-row">
	<% span = current_user.producer? ? 4 : 5%>
  <td colspan=<%= span %>></td>
    <td>
      <div id="buttons">
	<div class="btn-group">
		<%= link_to " <div class='btn btn-inverse'><i class='icon-list-alt icon-white'></i> Export...</div>".html_safe, export_goods_path(params), id: "export_csv" %>
	 
      </div>
    </td>
</tr>
