<tr class="sorters">
  <th></th>
  <th style="width: 160px;"><%= sortable "product", "Product", parsed_params %></th>
  <% if current_user.admin? or current_user.market_manager? %>
  <th style="width: 160px;"><%= sortable "producer", "Producer", parsed_params %></th>
  <% end %>
  <th><%= sortable "quantity", "Qty Avail", parsed_params %></th>
  <th><%= sortable "price", "Price Points", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
