<tr class="sorters">
  <th>Available <br/>This Week?</th>
  <th style="width: 160px;"><%= sortable "products.name", "Product", parsed_params %></th>
  <% if current_user.admin? or current_user.market_manager? %>
  <th style="width: 160px;"><%= sortable "users.name", "Producer", parsed_params %></th>
  <% end %>
  <th><%= sortable "quantity", "Qty Avail", parsed_params %></th>
  <th><%=  "Price Points"%></th>
  <th><span>Actions</span></th>
</tr>
