<p>Our goal is to keep this process as simple as possible for you. Here are the steps you should follow:</p>
    <div id="key" class="pull-right well" style="margin-left: 5px;">
      <h6>Agreement Key:</h6>
      <div><div class="bar complete"></div> = Active</div>
      <div><div class="bar pending"></div> = Pending</div>
      <div><div class="bar listed"></div> = Listed</div>
      <div><div class="bar available"></div> = Available</div>
    </div>
<ol>
  <li><button class="btn btn-mini" type="button"><i class="icon-asterisk"></i> New Agreement</button> Blahblahab.</li>
  <li>blablab</li>
</ol>
<p><br /></p>
<p><br /></p>
<p><br /></p>
<p><br /></p>
<p><br /></p>

