<p>Our goal is to keep this process as simple as possible for you. Here are the steps you should follow:</p>
<ol>
  <li><button class="btn btn-mini" type="button"><i class="icon-asterisk"></i> New Agreement</button> Blahblahab.</li>
  <li>
    <div id="key" class="pull-right well" style="margin-left: 5px;">
      <h6>Agreement Key:</h6>
      <div><div class="bar complete"></div> = Active</div><br />
      <div><div class="bar pending"></div> = Pending</div><br />
      <div><div class="bar"></div> = Available</div>
    </div>
  </li>
</ol>
