#devise-links {
    margin: 0 auto;
    text-align: center;
    color: #555;
    font-size: 11px;
    margin-right: 20px;
    a {
	display: inline-block;
	padding: 0 5px 0 3px;
	border-right: 2px solid #999;
    }
    a:last-child {
	border-right: 2px solid transparent;
    }
}