<% b = @agreement.buyer %>

<%= image_tag b.pic.url(:medium), class: "medium" %>
<p><%= b.description %> <a href="#">Read more &raquo;</a></p>

<%= render partial: "agreements/modals/details", locals: {agreement: @agreement} %>

