<h3>Buyer</h3>

<% b = @agreement.buyer %>

<%= render partial: "users/modals/user", locals: {u: b} %>

<h3>Producer</h3>

<% p = @agreement.producer %>

<%= render partial: "users/modals/user", locals: {u: p} %>

<%= render partial: "agreements/modals/details", locals: {agreement: @agreement} %>
