<% p = @agreement.creator %>

<%= render partial: "users/modals/user", locals: {u: p} %>

<%= render partial: "agreements/modals/details", locals: {agreement: @agreement} %>

<div id="agreement-change-form-container">
  <% @agreement_change = AgreementChange.new %>
  <%= render partial: "agreement_changes/form" %>
</div>
