<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @producer_profile.user %>
</p>


<%= link_to 'Edit', edit_producer_profile_path(@producer_profile) %> |
<%= link_to 'Back', producer_profiles_path %>
