      <tr class="sorters">
        <th><%= sortable "approved", "Responses", parsed_params %></th>
	<th><%= sortable "form_type", "Name", parsed_params %></th>
	<th><%= sortable "users.last_name", "User", parsed_params %></th>
	<th><span>Actions</span></th>
      </tr>
