<div class="row">
  <div class="span12">
    <div class="btn-group pull-right">
      <%= link_to raw('<i class="icon-list"></i> List Forms'), forms_path, class: "btn" %>
    </div>
    <h1><% if current_user == @form.user %>Editing<% else %>Please Review<% end %> ...</h1>
    <h6></h6>
  </div>
</div>

<%= render 'form' %>
