<tr class="sorters">
  <th><%= sortable "name", "Name", parsed_params %></th>
  <th><%= sortable "market_managers", "Market Managers", parsed_params %></th>
  <th><%= sortable "state", "State", parsed_params %></th>
  <th><span>Actions</span></th>
</tr>
