<div class="btn-toolbar visible-desktop">
    <div class="btn-group">
      <%= link_to raw('<i class="icon-edit"></i>'), edit_agreement_path(agreement), title: "Edit agreement info", class: "btn btn-small" %>
      <%= (link_to raw('<i class="icon-trash"></i>'), agreement_path(agreement, full_params.to_hash), data: {confirm: "Are you sure you want to permanently delete this agreement and all its information?"}, title: "Delete this agreement from the system", method: :delete, class: "btn btn-small") %>
    </div>
  </div>
