<%= form_for(@agreement, html: { multipart: true, class: "form-horizontal" }) do |f| %>
  
  <legend></legend>
  <%= render partial: 'partials/errors', locals: {obj: @agreement} %>

  <legend>Product</legend>
  <div class="control-group">
    <label class="req control-label" for="agreement_product_id">Name:</label>
    <div class="controls controls-row">
      <%= f.select :product_id, options_for_select(Product.order('name').collect {|p| [p.name, p.id] }, (@agreement.new_record? ? "" : @agreement.product.id)), {prompt: "asdf"}, {class: "select2 span4" } %>
      <span class="help-inline"><span class="label label-info">HINT:</span> Start typing a product name...</span>
    </div>
  </div>

  
  <%= render partial: 'partials/submit', locals: {f: f, text: 'Agreement'} %>

<% end %>
