<table id="agreementTable" class="table table-hover table-striped">
  <thead id="query">
    <%= render "query_form" %>
  </thead>
    
  <thead id="sorters">
    <%= render "sorters" %>
  </thead>

  <tbody id="agreement-ajax">
    <%= render "agreements" %>
  </tbody>
</table>
<div id="pagination">
  <%= will_paginate @agreements %>
</div>
