var title       =   '.modal-title',
    loader      =   '.ajax-loader',
    content     =   '.modal-body-content',
    toolbar     =   'div.modal-footer';
    modal       =   '#ajax-modal'

$(loader).fadeToggle('fast', function() {
  <% if @agreement.is_complete?%>

    $(title).html("Completed Agreement");
    $(content).show().html("<%= j render partial: 'agreements/modals/completed' %>");




  <% else %>

    $(title).html("<% if @agreement.is_preferred(current_user) %><span class='label label-warning label-pref'><i class='icon-star icon-white' title='You are a preferred partner'></i></span><% end %><%= j @agreement.creator.name %>");

    $(content).show().html("<%= j render partial: 'agreements/modals/user' %>");

    <% if @agreement.owned_by(current_user) %>
      $(toolbar).html('<em>Your proposal.</em>')
    <% else %>
      <% if @agreement.agreement_changes.by_user(current_user.id).by_agreed.any? %>
        $(toolbar).html('<span class="label label-warning">Pending Agreement!<span>')
      <% else %> <%#new_agreement_change_path(@agreement)%>
        $(toolbar).html("<%= j (link_to raw('<i class="icon-edit"></i> Propose Amendments'), "#", class: "btn") + " " + (link_to raw('<i class="icon-ok icon-white"></i> Accept Agreement'), agreement_change_index_path(@agreement, agreement_change: {agree: true}), method: :post, confirm: "You will be obligated to fulfill your part of the contract should this agreement be accepted", class: "btn btn-warning") %>")
      <% end %>
    <% end %>

  <% end %>

  $(modal).modal();
});

