var title       =   '.modal-title',
    loader      =   '.ajax-loader',
    content     =   '.modal-body-content',
    toolbar     =   'div.modal-footer';
    modal       =   '#ajax-modal'

$(loader).fadeToggle('fast', function() {
  <% if @agreement.is_complete?%>

    $(title).html("Completed Agreement");

    $(content).show().html("<%= j render partial: 'agreements/modals/completed' %>");

  <% else %>

    $(title).html("<% if @agreement.is_preferred(current_user) %><span class='label label-warning label-pref'><i class='icon-star icon-white' title='You are a preferred partner'></i></span><% end %><%= j @agreement.creator.name %>");

    $(content).show().html("<%= j render partial: 'agreements/modals/user' %>");

  <% end %>

  $(modal).modal();

  $('#partner-selector').on('change', function(e) {
    $.ajax({
      type: "POST",
      url: "agreements/<%= @agreement.id.to_s %>/agreement_changes/chain.js",
      data: {user_ids: $(this).val()},
      success: function() {}
    });
  });

  $('a.amendment-btn').on('click', function(e) {
    $("#agreement-change-form-container").show();
    $("#agreement-change-form-container #agreement_change_agreement_change_id").val($(this).attr("id"));
  });

});

