<%= render "partials/ajax-modal" %>

<% if @first_login %>
<script>setTimeout(function(){$('#helpModal').modal('show')}, 1000);</script>
<% end %>

<div class="row">
  <div class="span12">
    <div class="pull-right">
      <%= link_to raw('<i class="icon-white icon-certificate"></i> New Agreement'), new_agreement_path, class: "btn btn-primary" %>
      <a role="button" class="btn" data-toggle="modal" href="#helpModal" title="Click to popup help">
	<i class="icon-question-sign"></i>
      </a>
    </div>
    <h1>Production Agreements</h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render "table" %>
  </div>
</div>
