// Place all the styles related to the agreements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bar {
	display: block;
	height: 6px;
	background-color: #f6b328;
	border: 1px solid #f37f23;
	margin: 0 0 3px;
	position: relative;
	text-indent: -9999px;
}
.bar:hover {
	background-color: #d7df23;
	border: 1px solid #8cc63f;
}
.bar.pending {
	background-color: #f9ed32;
	border: 1px solid #ffd02c;
}
.bar.complete {
	background-color: #8cc63f;
	border: 1px solid #39b54a;
}