// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-overlay{
	position: absolute;
	z-index: 500;
	opacity: .5;
}

.home-overlay-text{
	position: absolute !important; 
	z-index: 510;
	opacity: 1;
	#tagline{
		width: 400px;
		float: right;
		padding: 20px;
		text-shadow: 0px 3px 5px rgba(0,0,0, 1);
	  
	}
}
.carousel{
	height: 450px !important;
	overflow: hidden;
	opacity: .5;
	img{
		margin-top: -50px;
	}
}