// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_bar{
	text-align: right;
	.btn{
		margin: 5px;
	}
}

.certs{
	font-size: 10px;
	line-height: 10px;
	text-align: left;
}