#MyModal{
	min-width: 750px;
	margin-left: -375px;
	.row{
		margin-left: 20px;
	}
}

li.check_boxes{
	list-style-type: none !important;

}
.choices{
	width: 375px !important;
}
.choices-group{
	li{
		list-style-type: none !important;
	}
}

.filter-toggle{
	cursor: pointer;
	.hide{
		display: none;
	}
}

.filter-body{
	display: none;
}

.search-btn{
	margin-top: -8px;
}

.remove_cart_item{
	cursor: pointer;
	
}