<p>Welcome <%= @resource.first_name %> <%= @resource.last_name %>,</p>

<p>Your profile has been created. Please <p><%= link_to 'Confirm your email address', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p> and complete your registration for LocalCycle.</p>

<p><%= link_to "LocalCycle", :root %></p>
