<p>Hello <%= @resource.first_name %> <%= @resource.last_name %>,</p>

<p>Someone has requested a secure link to change your password. You can do this using the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :subdomain => SUBDOMAIN) %></p>

<p>If you didn't make this request, please ignore this email. Your password won't change unless you access the link above and create a new one.</p>

<p><a href="http://www.finalforms.com">FinalForms</a></p>
