<div class="row" style="min-height: 350px;">
  <div class="span12">
    <h1>About</h1>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-buyer.png' /><br />Buyers"), new_user_registration_path(role: "buyer"), {class: "tout buyer"} %></h3>
  </div>
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-food-hub.png' /><br />Food Hub"), new_user_registration_path(role: "foodhub"), {class: "tout food-hub"} %></h3>
  </div>
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-producer.png' /><br />Producers"), new_user_registration_path(role: "producer"), {class: "tout producer"} %></h3>
  </div>
</div>
