<div class="row" style="min-height: 350px;">
  <div class="span12">
    <h1>For Buyers</h1>
    <p class="well lead"><em>LocalCycle</em> is a social enterprise that makes it much simpler and cheaper for wholesale buyers to source, transact, and manage their local food purchases. We offer a service that communicates your wholesale demands to a select group of highly organized and entrepreneurial producers. Once we know what your needs are, we create production agreements with producers interested in and capable of consistently meeting your needs.</p>
    <p>We are also developing a web service, LocalCycle.org, that gives you complete and centralized control over this process.  Whether you are new to or a veteran of local food purchases, LocalCycle.org is a tool that saves you time and money in three ways:</p>
    <ul>
      <li><strong>Sourcing:</strong> We show you all the supply in your area, so you can easily find producers to fulfill your current or future needs.</li>
      <li><strong>Transacting:</strong> We have a standardized negotiating platform and suggested price points to facilitate agreements with multiple farmers. You can also easily integrate your LocalCycle transactions into your current financial management system.</li>
      <li><strong>Offering a Cheaper Product:</strong> Because production agreements reduce risk for farmers and we cut out the middleman, you can buy the same fresh, local goods at a discounted price.</li>
    </ul>
    <p><em>LocalCycle</em>'s mission is to provide an alternative purchasing system around which new local food economies might be structured. We believe buying locally is more than just a trend; it is a fundamental shift in the way we see and purchase our food. Together, with this set of tools, we can make local food more accessible and affordable for buyers and increase margins and reduce risk for farmers.</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-buyer.png' /><br />Buyers"), new_user_registration_path(role: "buyer"), {class: "tout buyer"} %></h3>
  </div>
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-food-hub.png' /><br />Food Hub"), new_user_registration_path(role: "foodhub"), {class: "tout food-hub"} %></h3>
  </div>
  <div class="span4">
    <h3><%= link_to raw("<img src='/assets/icon-producer.png' /><br />Producers"), new_user_registration_path(role: "producer"), {class: "tout producer"} %></h3>
  </div>
</div>
