<div class="row">
  <div class="panel">

<!--
    <h1><img src="assets/localcycle-temp-logo.PNG" alt="LocalCycle" /></h1>
-->
    <h1><img src="assets/localcycle-logo.PNG" alt="LocalCycle" /> <span>L</span>ocal<span>C</span>ycle</h1>
    <!--h5 style="font-size: 13px; text-align: right; margin: -30px 2px 0 0;">Planning, Producing, &amp; Purchasing</h5-->

    <hr />

    <h5>Connecting local producers with wholesale buyers</h5>
    <h5>We enable producers and buyers to see and act upon future demand and supply through production agreements.</h5>

    <hr />

    <h6>Sign up below to get in early.</h6>

    <p id="response"></p>

    <%= form_for("lead", url: leads_path,  html: {class: "form-horizontal", action: "post", remote: true}) do |f| %>
      <div class="input-append">
	<%= f.email_field :email, placeholder: "Enter your email..." %>
	<%= f.submit "Notify me", class: "btn-success btn" %>
      </div>
      <small>...but don't spam me</small>
    <% end %>
      
  </div>
</div>
