<div class="row">
  <div class="panel">

    <h1><img src="assets/localcycle-logo.PNG" alt="LocalCycle" /> <span>L</span>ocal<span>C</span>ycle</h1>

    <!--h5 style="text-indent: 80px; text-align: right; font-size: 15px; margin-top: -18px;">Local Food Planning, Producing, &amp; Purchasing Efficiency Application</h5-->
    <h5 style="font-size: 13px; text-align: right; margin: -30px 2px 0 0;">Planning, Producing, &amp; Purchasing</h5>

    <hr />

    <h6 style="text-align: center;">Here's how to get in early.</h6>

    <form class="SG_widget_form" method="POST" action="http://sendgrid.com/subscribe?p=%2Fn7Rt9Et%2F0vq38IVp0TnBtxxYk0F%2B0%2BFcBcIU7mXtavwA7RqvSVQ0dvIkT2aXOb9" accept-charset="UTF-8">
      <div class="input-append">
	<input type="text" class="SG_widget_form_input" id="SG_widget_email_1" placeholder="Enter our email..." name="SG_widget[email]"> <input type="submit" value="Notify me" class="SG_widget_form_submit btn-success btn">
      </div>
      <small>...but don't spam me</small>
    </form>

    <!--script type="text/javascript" src="http://sendgrid.com/newsletter/getSubscriptionWidget?p=%2Fn7Rt9Et%2F0vq38IVp0TnBtxxYk0F%2B0%2BFcBcIU7mXtavwA7RqvSVQ0dvIkT2aXOb9"> </script-->
      
  </div>
</div>
