
    <h6>Sign up below to get in early.</h6>

    <p id="response"></p>

    <%= form_for("lead", url: leads_path,  html: {class: "form-horizontal", action: "post", remote: true}) do |f| %>
      <div class="input-append">
	<%= f.email_field :email, placeholder: "Enter your email..." %>
	<%= f.submit "Notify me", class: "btn-success btn" %>
      </div>
      <small>...but don't spam me</small>
    <% end %>
      
  </div>
</div>
