<p>Hello,</p>

<p>The following form has been submitted and awaits your review:</p>

<p>
<%= link_to @form.title, edit_form_url(@form, :subdomain => SUBDOMAIN) %><br />
By <strong><%= @form.user.full_name %></strong>
</p>

<p>You may login at any time to review forms.</p>

<p><%= link_to new_user_session_url(:subdomain => SUBDOMAIN), new_user_session_url(:subdomain => SUBDOMAIN) %></p>

<p>Thank You,<br />
<%= ORGANIZATION_NAME %>
</p>
