<p>Hello,</p>

<p>Your form has been <strong><%= @form.approved ? "approved" : "denied" %></strong> by the LOCALCYCLE Committee:</p>

<p><%= link_to @form.title, edit_form_url(@form, :subdomain => SUBDOMAIN) %></p>

<% if !@form.approved %>
<p>You may login at any time to edit and resubmit your form.</p>

<p><%= link_to new_user_session_url(:subdomain => SUBDOMAIN), new_user_session_url(:subdomain => SUBDOMAIN) %></p>
<% end %>

<p>Thank You,<br />
<%= ORGANIZATION_NAME %>
</p>
