<div id="sectionNav" class="row">
  <div class="span10 offset1">
    <h3 class="caln active"><img class="it" src="/assets/icon-caln.png"><%= link_to "Production Agreements", agreements_path %></h3>
    <h3 class="mrkt"><img class="it" src="/assets/icon-mrkt.png"><%= link_to "Current Marketplace", "#" %></h3>
    <h3 class="mgnt"><img class="it" src="/assets/icon-mgnt.png"><%= link_to "Management", "#" %></h3>
  </div>
</div>
